<?xml version="1.0"?>

<Configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t][%c{1}:%L] %m%n" />
		</Console>

		<RollingFile
			filePattern="@temp_dir@/liferay.%d{yyyy-MM-dd}.log"
			ignoreExceptions="false"
			name="TEXT_FILE"
		>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t][%c{1}:%L] %m%n" />

			<TimeBasedTriggeringPolicy />

			<DirectWriteRolloverStrategy />
		</RollingFile>
		<RollingFile
			filePattern="@temp_dir@/liferay.%d{yyyy-MM-dd}.xml"
			ignoreExceptions="false"
			name="XML_FILE"
		>
			<XMLLayout charset="utf-8" compact="yes" />

			<TimeBasedTriggeringPolicy />

			<DirectWriteRolloverStrategy />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger level="ALL" name="logger.all" />

		<Logger level="OFF" name="logger.off" />

		<Logger level="FATAL" name="logger.fatal" />

		<Logger level="ERROR" name="logger.error" />

		<Logger level="WARN" name="logger.warn" />

		<Logger level="INFO" name="logger.info" />

		<Logger level="DEBUG" name="logger.debug" />

		<Logger level="TRACE" name="logger.trace" />

		<Root level="INFO">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="TEXT_FILE" />
			<AppenderRef ref="XML_FILE" />
		</Root>
	</Loggers>
</Configuration>